body {
    background-color: #333;
    /* Dark background color */
    color: #fff;
    /* Light text color */
}

h1,
h2,
h3 {
    color: #fff;
    /* Light color for headings */
}

a {
    color: #00f;
    /* Color for links in dark mode */
}

/* darkMode.css */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

body:not(.dark-mode) {
    background-color: #fff;
    color: #000;
}

/* Header styles */
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3 {
    color: #fff;
}

body:not(.dark-mode) h1,
body:not(.dark-mode) h2,
body:not(.dark-mode) h3 {
    color: #000;
}

/* Paragraph styles */
body.dark-mode p {
    color: #ddd;
}

body:not(.dark-mode) p {
    color: #333;
}

/* Color-blind mode styles */
body.color-blind-mode {
    background-color: #f4f4f4;
    /* Light background color for color-blind mode */
    color: #000;
    /* Dark text color for color-blind mode */
}

body.color-blind-mode h1,
body.color-blind-mode h2,
body.color-blind-mode h3,
body.color-blind-mode p,
body.color-blind-mode a
 {
    color: #000;
    /* Dark color for headings in color-blind mode */
}

/* fonts.css */
.Arial {
    font-family: 'Arial', sans-serif;
  }
  
  .SansSerif {
    font-family: 'sans-serif';
  }
  
